<!-- <div class="signInContainer">
    <div class="col-xs-12 col-sm-12 col-md-12" style="display: flex;
    height: 100vh;">
      <div  class="row">
        <div class="col-xs-6 col-sm-6 col-md-6  right-skew" style="background-color:rgb(0, 96, 191);border-top-left-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:30px;">
            <img src="assets/img/bg@2x.png" class="pic" style="max-width:70%;max-height:70px;align-self:center">
   
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 paddingRightLeft0 imgOverflow rightdesignb" >
  
          <div class="rightdesign text-center d-flex justify-content-center">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div> -->

<div class="col-lg-12">
    <div class="row">
      <div class="col-lg-8">
          <img src="assets/img/bg.png" class="logo" >
      </div>
      <div class="col-lg-4">
         <router-outlet></router-outlet>
        </div>
    </div>
</div>