<div class="logincontents">
    <div>
  
      <img src="./assets/img/logo@2x.png" class="center">
  
  
      <div class="container col-lg-offset-2 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2">
        <h2 class="bold">Forgot Password?</h2>
        <form class="pad-height" [formGroup]="forgetForm" (ngSubmit)="submit();">
          <div class="form-group ">
            <h6>Please enter your registered email ID reset your password</h6>
           
          </div>
          <div class="form-group">
            <label>Email ID</label>
            <mat-form-field appearance="outline">
                
                <input matInput type="email" formControlName="email" required>
    
                <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                <mat-error *ngIf="hasError('email', 'invalid')">Enter the valid email id</mat-error>
              </mat-form-field>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
         
        </form>
      </div>
    </div>
  </div>