.bold{
    font-size: 16px;
    
}

.padd{
    padding-top: 15px;
}


mat-form-field{
    width: 100%;
}

.btnpad{
    padding-left: 40px;
    padding-right: 40px;
    background: #ec8023;
    color: #ffffff;
   font-weight: 600;

}

.cancel{
   background: #43425D;
    color: #ffffff;
   font-weight: 600;

}


.pad-2{
    padding-top: 10px;
}