.center{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: -25px;
  
}

.logincontents{
    margin: 25px;
}

.bold{
    margin-top: -25px;
    font-weight: 700;
    font-size: 25px;
}

label{
    font-weight: 100;
    line-height: 30px;
}

.btn-default{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    color: white;
    background: #ec8023;
    margin-top: 30px;
}

.btn-default:hover{
    color: white;
    background: #ec8023; 
}

.pad-height{
    padding-top: 10px;
}

input{
    background: #f9f9f9;
}

.link{
    text-decoration: none;
    color: black;

}

.btnalign{
    text-align: center;
}

