<div class="logincontents">
    <div>
  
      <img src="./assets/img/logo@2x.png" class="center">
  
  
      <div class="container col-lg-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-8 col-sm-offset-2">
        <h2 class="bold">Login</h2>
        <form class="pad-height" [formGroup]="expressForm" autocomplete="off" (ngSubmit)="signIn();">
          <div class="form-group  mr-b">
  
            <mat-form-field appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput type="email" formControlName="email" required>
  
              <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
              <mat-error *ngIf="hasError('email', 'invalid')">Enter the valid email id</mat-error>
            </mat-form-field>
  
          </div>
          <div class="form-group">
  
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" id="name">
  
              <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
  
            </mat-form-field>
  
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Log In</button>
          </div>
          <div class="form-group" class="btnalign pad-height">
            <a [routerLink]="['/authentication/forgot-password']" class="link">Forgot Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>