
.input-group{
    width: 130px;
}

.margLeft{
    margin-left: 60px;
}

.marginTable{
    margin-top: 14px;
}
/* Table style*/

 .mb-0{
           margin-bottom: 0px !important;
 }

 .border{
     border-bottom: grey;
 }

.tablecolor{
    background: white;
   
}


tr:nth-child(even){
    background: #F5F6FA;
    }

    .pad-0{
    padding: 0px;
    }

.alignend{
    text-align: center;
}

table a
{
    display:block;
    text-decoration:underline;
}

.point{
    cursor: pointer;
}



.btnpad{
    padding-left: 40px;
    padding-right: 40px;
    background: #ec8023;
    color: #ffffff;
   font-weight: 600;

}

.cancel{
    padding-left: 40px;
    padding-right: 40px;
    background: #43425D;
    color: #ffffff;
   font-weight: 600;

}
.colorbtn1{
    margin-right: 40px;
}