<div id="page-content-wrapper" style="margin-top: -15px;">
    <div class="container-fluid">
      <!-- header title -->
      <h4>
        Approval
      </h4>
  
      <div class="panel panel-default  col-sm-12 col-md-12 ">
        <div class="panel-body">
          <div class="col-sm-12 col-md-12 ">
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <h5 class="padd">
                      Consignment No.
                    </h5>
                  </div>
                  <div class="col-md-7 col-sm-7">
                      <h5 class="padd">
                          BH366467
                        </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-5 col-sm-5">
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <h5 class="padd">
                     No. of Bags
                    </h5>
                  </div>
                  <div class="col-md-7 col-sm-7">
                      <h5 class="padd">
                          10
                        </h5>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
                <div class="col-md-5 col-sm-5">
                  <div class="row">
                    <div class="col-md-5 col-sm-5">
                      <h5 class="padd">
                        Missing Document
                      </h5>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <h5 class="padd">
                            Document1
                          </h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-5 col-sm-5">
                  <div class="row">
                    <div class="col-md-5 col-sm-5">
                      <h5 class="padd">
                       Poduct
                      </h5>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <h5 class="padd">
                            Cloves
                           </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <div class="row">
                      <div class="col-md-5 col-sm-5">
                        <h5 class="padd">
                         
                        </h5>
                      </div>
                      <div class="col-md-7 col-sm-7">
                          <h5 class="padd">
                              Document2
                            </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-5 col-sm-5">
                    <div class="row">
                      <div class="col-md-5 col-sm-5">
                        <h5 class="padd">
                         
                        </h5>
                      </div>
                      <div class="col-md-7 col-sm-7">
                          <h5 class="padd">
                             Cardamom
                             </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <h5 class="padd">
                           
                          </h5>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <h5 class="padd">
                                Document3
                              </h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-5 col-sm-5">
                      <div class="row">
                        <div class="col-md-5 col-sm-5">
                          <h5 class="padd">
                           
                          </h5>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <h5 class="padd">
                               Cinamon
                               </h5>
                        </div>
                      </div>
                    </div>
                  </div>
  
              <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <div class="row">
                      <div class="col-md-5 col-sm-5">
                        <h5 class="padd">
                          Total Weight
                        </h5>
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <h5  class="padd">
                          100Kg
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-5 col-sm-5">
                    <div class="row">
                      <div class="col-md-3 col-sm-3">
                        <h5 class="padd">
                          
                        </h5>
                      </div>
                      <div class="col-md-3 col-sm-3">
                       
                      </div>
                    </div>
                  </div>
                </div>
          </div>
  
  
  
          <div class="row col-sm-12 col-md-12 mr-t">
              
              <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 text-center">
                  <button class="btn colorbtn1 btnpad">Approval</button>
               
                  <button class="btn cancel btnpad"> Reject</button>
                </div>
            </div>
  
        </div>
      </div>
   
  
    </div>
  </div>