<div id="page-content-wrapper" style="margin-top: -15px;">
  <div class="container-fluid">
    <!-- header title -->
    <h4>
      Approval
    </h4>

    <div class="panel panel-default  col-sm-12 col-md-12 ">
      <div class="panel-body">
        <!-- first row -->
        <div class=" row col-sm-12 col-md-12 ">
          <div class="col-md-3 col-sm-3">
            <label class="padd">
              Consignment No.
            </label>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 class="padd">
              BH366467
            </h5>
          </div>
          <div class="col-md-3 col-sm-3">
            <label class="padd">
              No. of Bags
            </label>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 class="padd">
              10
            </h5>
          </div>
        </div>
        <!-- 2 row -->
        <div class=" row col-sm-12 col-md-12 ">
          <div class="col-md-3 col-sm-3">
            <label class="padd">
              Missing Document
            </label>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 class="padd">
              Document1
            </h5>
          </div>
          <div class="col-md-3 col-sm-3">
            <label class="padd">
              Poduct
            </label>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 class="padd">
              Cloves
            </h5>
          </div>
        </div>
        <!-- 3 row -->
        <div class=" row col-sm-12 col-md-12 ">
          <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3">
            <h5 class="padd">
              Document2
            </h5>
          </div>
          <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3">
            <h5 class="padd">
              cardamom
            </h5>
          </div>
        </div>
        <!-- 4 row -->
        <div class=" row col-sm-12 col-md-12 ">
          <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3">
            <h5 class="padd">
              Document3
            </h5>
          </div>
          <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3">
            <h5 class="padd">
              Cinnamon
            </h5>
          </div>
        </div>

        <!-- 5 row -->
        <div class=" row col-sm-12 col-md-12 ">
          <div class="col-md-3 col-sm-3">
            <label class="padd">
              Total Weight
            </label>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5 class="padd">
              100Kgs
            </h5>
          </div>
        </div>
      </div>

      <!-- button -->
      <div class="row col-sm-12 col-md-12 mr-b">
        <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 text-center">
          <button class="btn colorbtn1 btnpad">Approval</button>
          <button class="btn cancel btnpad"> Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>