
.input-group{
    width: 130px;
}

.margLeft{
    margin-left: 60px;
}

.marginTable{
    margin-top: 14px;
}
/* Table style*/

 

.tablecolor{
    background: white;
   
}


tr:nth-child(even){
    background: #F5F6FA;
    }

    .pad-0{
    padding: 0px;
    }

.alignend{
    text-align: center;
}

table a
{
    display:block;
    text-decoration:underline;
}

.point{
    cursor: pointer;
}