<div class="container col-md-12 col-sm-12">
  <div>
    <h4>Edit User</h4>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 ">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quality Code" value="">
        </mat-form-field> 
        </form>      
    </div>
    <div class="col-md-6 col-sm-6 ">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quality Name" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-6 text-center">
          <button class="btn colorbtn"> Save</button>
        </div>
        <div class="col-md-6 co-sm-6 text-center" >
          <button class="btn" (click)="close()"> Cancel</button>
        </div>
  </div>
</div>