<div id="page-content-wrapper" style="margin-top: -15px;">
  <div class="container-fluid">
    <h4>
      Add User
    </h4>

    <div class="panel panel-default  col-sm-12 col-md-12 ">
      <div class="panel-body">
        <div class="row  col-sm-12 col-md-12 ">
          <div class="row col-md-5 col-sm-5">
            <div class="col-md-6 col-sm-6">
              <label class="padd">
                Currency Code
              </label>
            </div>
            <div class="col-md-6 col-sm-6">
              <mat-form-field class="pad-0 ">
                <mat-select>
                  <mat-option *ngFor="let samplevalue of dropDwon" [value]="samplevalue.value">
                    {{ samplevalue.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5">
            <div class="col-md-6 col-sm-6">
              <label class="padd">
                Currency Description
              </label>
            </div>
            <div class="col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput type="email">
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="row col-sm-12 col-md-12 mr-t">
          <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 text-center">
            <button class="btn colorbtn1 btnpad">Save</button>
            <button class="btn cancel btnpad" (click)="cancel()"> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>